{% extends 'base.html.twig' %}

{% block body %}
<main>
    <div id="hypnotherapeute" class="uk-background-default uk-padding-large uk-panel uk-background-cover" uk-scrollspy="delay: 500;cls:uk-animation-scale-up;" style="background-image:url({{ asset('images/bg-particles.svg') }});">
        <div class="uk-container">
            <div class="uk-card uk-card-default">
                <div class="uk-card-header">
                    <h2 class="uk-text-center">Qui suis-je ?</h2>
                </div>
                <div class="uk-card-body">
                    <p>Infirmière en santé mentale depuis de très longues années, j'ai fait la formation d'hypnothérapeute en Suisse et je continue de me former à Paris, Nantes, Annecy... Des formations sur la douleur, les traumas, le deuil, le poids, le stress, la dépression, les phobies et autres fragilités.</p>
                    <p>Je ne suis ni médecin, ni psychologue, je n'ai pas non plus de baguette magique mais il y a vous : vos ressources et la possibilités de les éveiller, de les mettre en œuvre pour arriver à votre but.</p>
                    <p class="uk-text-center">
                        <a href="#contact" class="uk-button uk-button-primary uk-button-large">
                            Demandez des informations
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div id="hypnotherapie" class="uk-background-default uk-panel" uk-scrollspy="target: > div > div; cls:uk-animation-fade; delay: 500">
        <div class="uk-grid-collapse uk-child-width-1-3@l" uk-grid>
            <div>
                <div class="uk-inline">
                    <img src="{{ asset('images/hypnose.jpg') }}" alt="">
                    <div class="uk-overlay-primary uk-position-cover"></div>
                    <div class="uk-overlay uk-position-top">
                        <div class="uk-light">
                            <h3 class="uk-h2 uk-text-center">Qu'est-ce que l'hypnose ?</h3>
                            <p>C'est une technique thérapeutique où le patient est dans un état de conscience modifiée comme lors des rêveries.</p>
                            <p>Avec l'aide du thérapeute, il a accès à ses propres ressources, ses compétences et à tout son potentiel positif pour revisiter la réalité du présent et aller vers le changement.</p>
                            <p>Le sujet reste conscient de tous ses actes et ses paroles. Tous ses sens sont en éveil et rien ne peut être fait sans l'accord de celui-ci. Rien ne peut être fait à l'encontre de ses valeurs et de sa sécurité.</p>
                        </div>
                        <p class="uk-text-center">
                            <a href="tel:0767048859" title="" class="uk-button uk-button-primary uk-button-large">
                                Discutons-en ensemble
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <div>
                <div class="uk-inline">
                    <img src="{{ asset('images/hypnose.jpg') }}" alt="">
                    <div class="uk-overlay-primary uk-position-cover"></div>
                    <div class="uk-overlay uk-position-top">
                        <div class="uk-light">
                            <h3 class="uk-h2 uk-text-center">Qu'est-ce que l'E.F.T. ?</h3>
                            <p>L'Emotional Freedom Technique est une technique de libération émotionnelle par la stimulation des points d'acupuncture situés sur le trajet des méridiens.</p>
                            <p>Cette stimulation se fait par des petits tapotements sur des points précis autour de l'œil, au dessus, en dessous des lèvres, de la clavicule, etc...</p>
                            <p>Tout ceci en même temps qu'une verbalisation bien précise.</p>
                        </div>
                        <p class="uk-text-center">
                            <a href="tel:0767048859" title="" class="uk-button uk-button-primary uk-button-large">
                                En savoir plus
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <div>
                <div class="uk-inline">
                    <img src="{{ asset('images/hypnose.jpg') }}" alt="">
                    <div class="uk-overlay-primary uk-position-cover"></div>
                    <div class="uk-overlay uk-position-top">
                        <div class="uk-light">
                            <h3 class="uk-h2 uk-text-center">Quels critères pour choisir son thérapeute ?</h3>
                            <p>
                                Pour s'aider dans ses choix, il faut veiller à :<br>
                                La qualité de la relation est importante afin de vous sentir en confiance et de pouvoir parler des choses difficiles. Pour cela il est possible d'avoir un premier rendez-vous gratuit. Une première rencontre sans expérience hypnotique, d'une courte durée afin que vous puissiez être rassuré;
                            </p>
                            <ul>
                                <li>la formation du thérapeute et ses formations continues;</li>
                                <li>l'expérience dans la relation d'accompagnement;</ul>
                                <li>les domaines et spécialités du thérapeute.</li>
                            </ul>
                            <p>Le patient doit se faire confiance pour choisir son thérapeute, celui qui va lui convenir.</p>
                        </div>
                        <p class="uk-text-center">
                            <a href="tel:0767048859" title="" class="uk-button uk-button-primary uk-button-large">
                                Discutons-en ensemble
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="seance" class="uk-background-default uk-padding-large uk-panel uk-background-cover" uk-scrollspy="cls:uk-animation-scale-up; delay: 500" style="background-image:url({{ asset('images/bg-particles.svg') }});">
        <div class="uk-container">
            <div class="uk-card uk-card-default">
                <div class="uk-card-body">
                    <ul class="uk-grid uk-grid-collapse" uk-tab="animation: uk-animation-slide-left-medium, uk-animation-slide-right-medium">
                        <li class="uk-width-1-2@m uk-h3"><a href="#">Pour qui et pourquoi aller vers l'hypnose ?</a></li>
                        <li class="uk-width-1-2@m uk-h3"><a href="#">Pour quels problèmes ?</a></li>
                    </ul>
                    <ul class="uk-switcher uk-margin">
                        <li>
                            <h3>Pour qui ?</h3>
                            <p>Tout le monde peut bénéficier de ces thérapies ou presque, mais comme dans tout, il y a des exceptions. Les personnes borderlines ou souffrant de dépression grave, celle ayant des troubles psychotiques ou celles sous l'emprise de l'alcool, de drogues ne peuvent bénéficier de ces thérapies.</p>
                            <h3>Pourquoi ?</h3>
                            <p>Après avoir trouvé ce que l'on veut modifier de soi, de sa vie, il faut en prendre le chemin.
                            Tout ce qui fait que votre vie pourrait être plus belle, plus douce s'il n'y avait pas "ça".
                            Toutes ces décisions prises au nouvel an et qui sont impossible à tenir, ou ces douleurs épuisantes qui rongent le moral, cet état de mal-être, ces souvenirs...
                            Il est parfois nécessaire de se faire accompagner, de se faire aider pour apaiser le "ça" douloureux.</p>
                        </li>
                        <li>
                            Problèmes
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="tarifs" class="uk-background-default uk-padding-large uk-panel uk-background-cover" uk-scrollspy="target: > div;cls:uk-animation-fade; delay: 500" style="background-image:url({{ asset('images/bg-tarifs.jpg') }});">
    <div class="uk-container">
        <div class="uk-card uk-card-default">
            <div class="uk-card-header">
                <h2 class="uk-text-center">Tarifs</h2>
            </div>
            <div class="uk-card-body">
                <p>Parce que chaque personne est unique, la séance l'est aussi. Après que nous ayons fait connaissance, vous pourrez exprimer votre objectif, vos désirs de changement. Dans le plus grand respect, sans jamais porter de jugement, nous échangerons sur ce qui peut être atteint et le nombre de séances envisageable. Parfois une séance suffit, mais pas toujours.</p>
                <p>Puis vient le moment où vous vous laissez guider dans l'expérience, la vôtre, celle qui vous aidera dans les heures, les jours qui suivent et pour très longtemps. Vous laissez guider ne signifie pas ne rien faire ! Tout au long de la séance, il y a une forme de partenariat pour aller vers une même objectif : le vôtre. Puis cela se termine avec un état d'apaisement et de sérénité.</p>
                <p>Ensuite il y a le partage des ressentis, un moment d'échange avec le thérapeute. Pour les expériences suite à des traumas et de certains vécus douloureux de la vie, cet échange après la séance est important car celle-ci n'est pas toujours agréable au vu des émotions qui remontent. Mais si c'est votre cas, sachez que tout au long de la séance, je serais près de vous, je vous guiderais et vous rassurerais. Il est important de retenir que même si vous êtes dans un état de conscience modifiée, vous entendez tout, vous pouvez à chaque instant sortir de cet état, rien ne peut être fait à votre encontre. Dans certaine séance, l'hypnose et l'E.F.T. peuvent être combinés.</p>
                <p>S'il s'agit de séance avec un enfant, celui-ci a parfois besoin d'un parent dans la pièce ou dans les pièces voisines. <strong>C'est un choix à respecter</strong>.</p>
                <p>Le montant d'une séance est de :</p>
                <p class="uk-text-center">
                    <a href="tel:0767048859" class="uk-button uk-button-secondary uk-button-large">
                        120chf pour 60 ou 90 minutes.
                    </a>
                </p>
                <p>Chaque séance est à <strong>régler à la fin de la rencontre uniquement au comptant</strong> car je n'ai pas de dispositif pour les cartes bancaires.</p>
            </div>
        </div>
    </div>
</div>
</main>
{% endblock %}
